*{
  text-align: center;
}
.button{
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.black{
  color: black;
  background-color: lightblue;
  box-shadow: 0px 0px 10px lightblue;
}
.blue{
  color: lightblue;
  background-color: darkgrey;
  box-shadow: 0px 0px 10px darkgrey;
}
